header{
    background-color: black;
    text-align: center;
    padding: 3rem 2rem;
    h4{
        cursor: pointer;
    border: 1px solid white;
    width: fit-content;
    display: flex;
    margin-left: auto;
    padding: 0.5rem 1rem;
    margin-right: auto;
    }
}

.posts{
    h2{
        font-size: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid black;
    }
    p{
        padding-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

.comments{
    padding-top: 1rem;
    h2{
        font-size: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid black;
    }
    ol{
        list-style: decimal;
        padding-left: 1rem;
        li{
            line-height: 2rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
            
            h5{
                font-size: 1.3rem;
                font-weight: bold;

            }
        }
    }
}