* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgba(168, 167, 167, 0.278);
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

figure {
  height: 20rem;
}

header {
  background-color: black;
  text-align: center;
  padding: 3rem 2rem;
}

.heading h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#message {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  outline: none;
  border: 1px solid black;
}

@media only screen and (min-width: 1024px) {
  #message {
    width: auto;
  }
}

#message::-webkit-input-placeholder {
  font-size: 1rem;
}

#message:-ms-input-placeholder {
  font-size: 1rem;
}

#message::-ms-input-placeholder {
  font-size: 1rem;
}

#message::placeholder {
  font-size: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  button {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}

.crawl-form {
  display: block;
}

@media only screen and (min-width: 768px) {
  .crawl-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section {
  padding: 2rem 1rem;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 2rem 2rem;
  }
}

section .relatedtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1024px) {
  section .relatedtags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

section .relatedtags h3 {
  cursor: pointer;
  background-color: #167ddd;
  padding: 0.4rem 1rem;
  margin: 0.2rem 0.2rem 0.2rem 0rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: white;
}

@media only screen and (min-width: 768px) {
  section .relatedtags h3 {
    margin: 0.2rem 0.4rem;
  }
}

.cards {
  background-color: #070707d4;
  padding: 1rem;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .cards {
    width: 48%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards {
    margin-bottom: 1rem;
  }
}

.cards h6 {
  font-size: 1.5rem;
  color: white;
}

.container {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.details {
  color: white;
  margin-top: 1rem;
}

.details h2 {
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.details h5 {
  line-height: 2rem;
  font-size: 1.2rem;
}

.reltags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.reltags li {
  margin-bottom: 0.4rem;
  cursor: pointer;
  background-color: #a8a7a7;
  margin-right: 10px;
  padding: 0.4rem 1rem;
  border-radius: 0.1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.flex h5 {
  margin-left: 1rem;
  cursor: pointer;
}

.post {
  display: none;
  padding: 1rem;
  position: fixed;
  left: 0%;
  top: 0;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 9999;
}

.post div {
  padding: 1rem;
  background-color: white;
}

.post div p {
  height: 50vh;
  overflow-y: scroll;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.post div i {
  cursor: pointer;
  color: #167ddd;
}

.post div h2 {
  font-weight: bold;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.post div ul {
  height: 26vh;
  overflow-y: scroll;
}

.post div ul p {
  height: auto;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.2rem;
  overflow: auto;
}

.post div ul li {
  margin-top: 1.2rem;
  border-bottom: 1px solid black;
}

.post div ul li h5 {
  font-size: 1.3rem;
  font-weight: bold;
}

.classh5 {
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
}
/*# sourceMappingURL=style.css.map */